<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Invoice</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://sparksuite.github.io/simple-html-invoice-template/images/logo.png"
                                    style="width: 100%; max-width: 300px" />
                            </td>

                            <td>
                                Invoice #: {{details['invoice_number']}}<br />
                                Created:{{details['date']}}<br />
                                Due:{{details['due_date']}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Sparksuite, Inc.<br />
                                12345 Sunny Road<br />
                                Sunnyville, CA 12345
                            </td>

                            <td>
                                {{recipient['name']}} <br />
                                {{recipient['email']}}<br />
                                {{recipient['addr_1']}}<br />
                                {{recipient['addr_2']}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Item</td>

                <td>Price</td>
            </tr>
            {% for item in items %}
            <tr class="item">
                <td>
                    {{item['title']}}
                </td>
                <td>
                    ${{item['charge']}}
                </td>
            </tr>
            {% endfor %}
            <tr class="total">
                <td></td>
                <td>
                Total: ${{total}}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>